 .customer {
    padding: 120px 0 80px;
    .container {
        max-width: 970px;
    }
    &-wrapper {
        position: relative;
        padding: 0 20px;
        &__img {
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &__descr {
            margin-top: 16px;
            min-height: 138px;
            background: #FAFAFA;
            position: relative;
            z-index: 1;
            &-text {
                padding: 47px 109px 39px;
                font-weight: 500;
                font-size: 16px;
                line-height: 186%;
                text-align: center;
                letter-spacing: 0.04em;
                color: #000000;
                span {
                    border-bottom: 1px solid #E1E1E1;
                    max-width: 100%;
                    padding-bottom: 3px;
                }
            }
            &-img {
                position: relative;
                img {
                    position: absolute;
                    left: 98px;
                    top: 31px;
                    z-index: -1;
                }
            }
        }
        &__info {
            &-dotts {
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-top: 16px;
                span {
                    display: block;
                    width: 4px;
                    height: 4px;
                    background: #C7133E;
                    border-radius: 50px;
                }
            }
            &-city {
                margin-top: 16px;
                span {
                    display: block;
                    text-align: center;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 186%;
                    color: #000000;

                }
            }
            &-footer {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 32px;
                gap: 18px;
            }
            &-circle {
                width: 12px;
                height: 12px;
                border-radius: 50px;
                background-color: #D9D9D9;
            }
            &-color {
                background-color: #D31342;
            }
            &-svg {
                fill: #D31342;
            }
            &-bcg {
                fill: #d9d9d9;
            }
        }
    }
 }

.next, .prev {
    position: absolute;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: 500ms all;
    right: 32%;
    top: 18px;
    &:hover {
        cursor: pointer;
        background-color:#C7133E;
        color: #fff;
        transform: scale(1.05)
    }
 }

 .prev {
    left: 33%;
 }



 @media (max-width: 1199px) { 
    .container {
        max-width: 900px;
    }
    .customer {
        &-wrapper {
            &__descr {
                &-img {
                    img {
                        left: 7px;
                    }
                }
                &-text {
                    padding: 37px 28px 47px;
                }
            }
        }
    }

 }

 @media (max-width: 768px) { 
    .customer {
        &-wrapper {
            &__descr {
                &-img {
                    img {
                        left: 73px;
                    }
                }
                &-text {
                    padding: 41px 59px 25px;
                }
            }
        }
    }
    .prev {
        left: 18%;
    }
    .next {
        right: 19%;
    }
 }



