.products {
  background: #ffffff;
  padding: 60px 0px;

  &__heading-label {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
    margin: 0;
    padding-bottom: 15px;
  }
  &__heading {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    margin: 0;
    padding-bottom: 150px;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 0;
    padding: 0px;
  }
  &__item {
    position: relative;
    border-radius: 24px;
    width: 280px;
    height: 489px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  &__item:first-child {
    background: #ffb8ca;
  }
  &__item:nth-child(2) {
    background: #f0d1a5;
  }
  &__item:last-child {
    background: #c2e297;
  }
  &__item:first-child::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    width: 280px;
    height: 280px;
    background-image: url(/images/icecream-M-@1x.png);
    background-size: 280px 280px;
  }
  &__item:nth-child(2):before {
    content: '';
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    width: 280px;
    height: 280px;
    background-image: url(/images/icecoffee-M-@1x.png);
    background-size: 280px 280px;
  }
  &__item:last-child:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    width: 280px;
    height: 280px;
    background-image: url(/images/milkshake-M-@1x.png);
    background-size: 280px 280px;
  }
  &__name {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding: 165px 0px 30px 0px;
  }
  &__description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    width: 245px;
    height: 106px;
    margin: 0;
    padding: 30px 0px 60px 0px;
  }
  &__icon {
    fill: #d41443;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 60px;
  }
}
.mark {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-property: z-index;
}
.mark:before {
  right: 10px;
  top: 0;
}
.mark:after {
  left: 10px;
  top: 0;
}
.mark:before,
.mark:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: inherit;
  box-sizing: border-box;
  border-radius: inherit;
}
@media (min-width: 480px) {
  .products__heading-label {
    font-size: 26px;
    line-height: 30px;
  }
  .products__heading {
    font-size: 48px;
    line-height: 55px;
    padding-bottom: 160px;
  }
  .products__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
  .products__item {
    width: 224px;
    height: 473px;
  }
  .products__item:first-child::before {
    width: 224px;
    height: 224px;
    background-image: url('../images/icecream-T-@1x.png');
    background-size: 224px 224px;
  }
  .products__item:nth-child(2):before {
    width: 224px;
    height: 224px;
    background-image: url('../images/icecoffee-T-@1x.png');
    background-size: 224px 224px;
  }
  .products__item:last-child:before {
    width: 224px;
    height: 224px;
    background-image: url('../images/milkshake-T-@1x.png');
    background-size: 224px 224px;
  }
  .products__name {
    padding-top: 100px;
    font-size: 20px;
    line-height: 23px;
  }
  .products__description {
    font-size: 14px;
    line-height: 176%;
    width: 160px;
    height: 150px;
  }
}

@media (min-width: 768px) {
  .products__heading-label {
    font-size: 30px;
    line-height: 34px;
  }
  .products__heading {
    font-size: 58px;
    line-height: 66px;
    padding-bottom: 280px;
  }
  .products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .products__item {
    padding-top: 0;
    width: 368px;
    height: 535px;
  }
  .products__item:first-child::before {
    left: 50%;
    top: -250px;
    transform: translateX(-50%);
    width: 368px;
    height: 394px;
    background-image: url('../images/icecream-D-@1x.png');
    background-size: 368px 394px;
  }
  .products__item:nth-child(2):before {
    left: 50%;
    top: -250px;
    transform: translateX(-50%);
    width: 368px;
    height: 394px;
    background-image: url('../images/icecoffee-D-@1x.png');
    background-size: 368px 394px;
  }
  .products__item:last-child:before {
    left: 50%;
    top: -250px;
    transform: translateX(-50%);
    width: 368px;
    height: 394px;
    background-image: url('../images/milkshake-D-@1x.png');
    background-size: 368px 394px;
  }
  .products__item:hover,
  .products__item:focus {
    box-shadow: 0px 0px 15px 10px rgba(255, 184, 202, 0.55);
    transform: scale(1.1);
  }
  .products__item:nth-child(2):hover,
  .products__item:nth-child(2):focus {
    box-shadow: 0px 0px 15px 10px rgba(240, 209, 165, 0.55);
  }
  .products__item:last-child:hover,
  .products__item:last-child:focus {
    box-shadow: 0px 0px 15px 10px rgba(194, 226, 151, 0.55);
  }
  .products__name {
    padding-top: 165px;
    font-size: 30px;
    line-height: 34px;
  }
  .products__description {
    font-size: 16px;
    line-height: 176%;
    width: 241px;
    height: 106px;
  }
  .products__icon:hover,
  .products__icon:focus {
    fill: #ffb8ca;
    cursor: pointer;
    background: #d41443;
    border-radius: 30%;
    transform: rotate(-0.25turn);
    transition: transform 0.3s;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .products__item:first-child::before {
    background-image: url('../images/icecream-M-@2x.png');
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .products__item:nth-child(2):before {
    background-image: url('../images/icecoffee-M-@2x.png');
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .products__item:last-child:before {
    background-image: url('../images/milkshake-M-@2x.png');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:first-child::before {
    background-image: url('../images/icecream-T-@2x.png');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2):before {
    background-image: url('../images/icecoffee-T-@2x.png');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:last-child:before {
    background-image: url('../images/milkshake-T-@2x.png');
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:first-child::before {
    background-image: url('../images/icecream-D-@2x.png');
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2):before {
    background-image: url('../images/icecoffee-D-@2x.png');
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:last-child:before {
    background-image: url('../images/milkshake-D-@2x.png');
  }
}
@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .products__item:first-child::before {
    background-image: url('../images/icecream-M-@3x.png');
  }
}
@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .products__item:nth-child(2):before {
    background-image: url('../images/icecoffee-M-@3x.png');
  }
}
@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .products__item:last-child:before {
    background-image: url('../images/milkshake-M-@3x.png');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:first-child::before {
    background-image: url('../images/icecream-T-@3x.png');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2):before {
    background-image: url('../images/icecoffee-T-@3x.png');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:last-child:before {
    background-image: url('../images/milkshake-T-@3x.png');
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:first-child::before {
    background-image: url('../images/icecream-D-@3x.png');
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2):before {
    background-image: url('../images/icecoffee-D-@3x.png');
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:last-child:before {
    background-image: url('../images/milkshake-D-@3x.png');
  }
}
