<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="section-about">
      <div class="container">
        <div class="container__title">
          <h3 class="title_second">tradition and love</h3>
          <h2 class="title_first">how it’s made?</h2>
        </div>
        <div class="container-about">
          <div class="images-about">
            <picture class="images-about_items">
              <source
                media="max-width: 320px"
                srcset="
                  .\images\cowmilk-M@X1.png 1x,
                  .\images\cowmilk-M@X2.png 2x
                "
              />
              <source
                media="min-width: 768px"
                srcset="
                  .\images\cowmilk-T@X1.png 1x,
                  .\images\cowmilk-T@X2.png 2x
                "
              />
              <source
                media="min-width: 1200px"
                srcset="
                  .\images\cowmilk-D@X1.png 1x,
                  .\images\cowmilk-D@X2.png 2x
                "
              />
              <img src="../images/cowmilk-M@X1.png" alt="Cow-Milk" />
            </picture>
          </div>
          <div class="description-about">
            <p class="description_first">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
              justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
              erat at justo fringilla.
            </p>
            <p class="description_second">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio
              elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
              euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
              Cras massa nibh, tincidunt.
              <br />
              <br />
              Aliquam erat volutpat. Aenean accumsan.
            </p>
            <div class="container-button">
              <button class="button-item">
                Read more
                <svg width="4.43" height="8">
                  <use href="./images/symbol.svg#icon-Vector-1"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="container-details">
            <ul class="detalis-item">
              <li class="details-item_list">
                <svg width="33" height="50">
                  <use href="./images/symbol.svg#icon-glassice"></use>
                </svg>
                <p class="details-item_list-number">721</p>
                <p class="details-item_list-text">
                  Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
              </li>
              <li class="details-item_list">
                <svg width="50" height="50">
                  <use href="./images/symbol.svg#icon-applesice"></use>
                </svg>
                <p class="details-item_list-number">16kg</p>
                <p class="details-item_list-text">
                  Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
              </li>
              <li class="details-item_list">
                <svg width="44" height="50">
                  <use href="./images/symbol.svg#icon-candelice"></use>
                </svg>
                <p class="details-item_list-number">84</p>
                <p class="details-item_list-text">
                  Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
