<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Ice</title>
    <link rel="stylesheet" href="./normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/index.min.css" />
  </head>
  <body>
    <section class="customer">
      <div class="container">
        <div class="customer-wrapper">
          <button class="prev">&#8678;</button>
          <button class="next">&#8680;</button>
          <div class="customer-wrapper__header">
            <picture class="customer-wrapper__img">
              <source
                media="screen and (min-width: 320px)"
                srcset="
                  ./images/wo-b1-min.png 1x,
                  ./images/wo-b2-min.png 2x,
                  ./images/wo-b3-min.png 3x
                "
              />
              <img src="./images/wo-b1-min.png" alt="logo" />
            </picture>

            <div class="customer-wrapper__descr">
              <div class="customer-wrapper__descr-img">
                <img src="./images/dotts-min.png" alt="dots" />
              </div>
              <div class="customer-wrapper__descr-text">
                <span
                  >Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit</span
                >
                <span
                  >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Cupiditate, eaque!......</span
                >
              </div>
            </div>

            <div class="customer-wrapper__info">
              <div class="customer-wrapper__info-dotts">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="customer-wrapper__info-city">
                <span>Leiya, New York</span>
              </div>
            </div>

            <div class="customer-wrapper__info-footer">
              <svg
                width="18"
                height="18"
                class="customer-wrapper__info-svg customer-wrapper__info-bcg"
              >
                <use href="./images/symbol-defs.svg#home"></use>
              </svg>
              <span
                class="customer-wrapper__info-circle customer-wrapper__info-color"
              ></span>
              <span class="customer-wrapper__info-circle"></span>
            </div>
          </div>
          <div class="customer-wrapper__header">
            <picture class="customer-wrapper__img">
              <source
                media="screen and (min-width: 320px)"
                srcset="
                  ./images/wo-o1-min.png 1x,
                  ./images/wo-o2-min.png 2x,
                  ./images/wo-o3-min.png 3x
                "
              />
              <img src="./images/wo-o1-min.png" alt="logo" />
            </picture>

            <div class="customer-wrapper__descr">
              <div class="customer-wrapper__descr-img">
                <img src="./images/dotts-min.png" alt="dots" />
              </div>
              <div class="customer-wrapper__descr-text">
                <span
                  >Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit</span
                >
                <span>nulla quam nunc, accumsan congue. </span>
              </div>
            </div>

            <div class="customer-wrapper__info">
              <div class="customer-wrapper__info-dotts">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="customer-wrapper__info-city">
                <span>Nelly, Miami</span>
              </div>
            </div>

            <div class="customer-wrapper__info-footer">
              <svg
                width="18"
                height="18"
                class="customer-wrapper__info-svg customer-wrapper__info-bcg"
              >
                <use href="./images/symbol-defs.svg#home"></use>
              </svg>
              <span class="customer-wrapper__info-circle"></span>
              <span
                class="customer-wrapper__info-circle customer-wrapper__info-color"
              ></span>
            </div>
          </div>
          <div class="customer-wrapper__header">
            <picture class="customer-wrapper__img">
              <source
                media="screen and (min-width: 320px)"
                srcset="
                  ./images/wo-n1-min.png 1x,
                  ./images/wo-n2-min.png 2x,
                  ./images/wo-n3-min.png 3x
                "
              />
              <img src="./images/wo-n1-min.png" alt="logo" />
            </picture>

            <div class="customer-wrapper__descr">
              <div class="customer-wrapper__descr-img">
                <img src="./images/dotts-min.png" alt="dots" />
              </div>
              <div class="customer-wrapper__descr-text">
                <span
                  >Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit</span
                >
                <span
                  >nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh
                  vel risus.</span
                >
              </div>
            </div>

            <div class="customer-wrapper__info">
              <div class="customer-wrapper__info-dotts">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="customer-wrapper__info-city">
                <span>Emily, Los Angeles</span>
              </div>
            </div>

            <div class="customer-wrapper__info-footer">
              <svg width="18" height="18" class="customer-wrapper__info-svg">
                <use href="./images/symbol-defs.svg#home"></use>
              </svg>
              <span class="customer-wrapper__info-circle"></span>
              <span class="customer-wrapper__info-circle"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="./index.js"></script>
  </body>
</html>
