<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <main>
        <section class="gallery-section">
            <div class="container">
                <div class="container__images">
                    <div class="container__first">
                        <img class="container__image1" srcset="" alt="">
                    </div>
                    <div class="container__second">
                        <img class="container__image2" srcset="" alt="">
                        <img class="container__image3" srcset="" alt="">
                    </div>
                    <div class="container__third">
                        <img class="container__image4" srcset="" alt="">
                        <img class="container__image5" srcset="" alt="">
                    </div>
                    <div class="container__fourth">
                        <img class="container__image6" srcset="" alt="">
                        <img class="container__image7" srcset="" alt="">
                    </div>
                    <div class="container__fifth">
                        <img class="container__image8" srcset="" alt="">
                        <img class="container__image9" srcset="" alt="">
                    </div>
                    <div class="container__sixth">
                        <img class="container__image10" srcset="" alt="">
                    </div>
                </div>
        </section>
    </main>
</body>



</html>