<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/index.min.css" />
  </head>

  <body>
    <main>
      <section class="gallery-section">
        <div class="container">
          <div class="container__images">
            <div class="container__first">
              <img
                class="container__image1"
                srcset="
                  ./images/gallery1-D-1x.jpg 1x,
                  ./images/gallery1-D-2x.jpg 2x,
                  ./images/gallery1-D-3x.jpg 3x,
                  ./images/gallery1-T-1x.jpg 1x,
                  ./images/gallery1-T-2x.jpg 2x,
                  ./images/gallery1-T-3x.jpg 3x,
                  ./images/gallery1-M-1x.jpg 1x,
                  ./images/gallery1-M-2x.jpg 2x,
                  ./images/gallery1-M-3x.jpg 3x
                "
                alt="kaki Ice-Cream"
              />
            </div>

            <div class="container__second">
              <img
                class="container__image2"
                srcset="
                  ./images/gallery2-D-1x.jpg 1x,
                  ./images/gallery2-D-2x.jpg 2x,
                  ./images/gallery2-D-3x.jpg 3x,
                  ./images/gallery2-T-1x.jpg 1x,
                  ./images/gallery2-T-2x.jpg 2x,
                  ./images/gallery2-T-3x.jpg 3x,
                  ./images/gallery2-M-1x.jpg 1x,
                  ./images/gallery2-M-2x.jpg 2x,
                  ./images/gallery2-M-3x.jpg 3x
                "
                alt="cone Ice-Cream"
              />

              <img
                class="container__image3"
                srcset="
                  ./images/gallery3-D-1x.jpg 1x,
                  ./images/gallery3-D-2x.jpg 2x,
                  ./images/gallery3-D-3x.jpg 3x,
                  ./images/gallery3-T-1x.jpg 1x,
                  ./images/gallery3-T-2x.jpg 2x,
                  ./images/gallery3-T-3x.jpg 3x,
                  ./images/gallery3-M-1x.jpg 1x,
                  ./images/gallery3-M-2x.jpg 2x,
                  ./images/gallery3-M-3x.jpg 3x
                "
                alt="Ice-Cream on stick"
              />
            </div>

            <div class="container__third">
              <div class="container__third--up">
                <img
                  class="container__image4"
                  srcset="
                    ./images/gallery4-D-1x.jpg 1x,
                    ./images/gallery4-D-2x.jpg 2x,
                    ./images/gallery4-D-3x.jpg 3x,
                    ./images/gallery4-T-1x.jpg 1x,
                    ./images/gallery4-T-2x.jpg 2x,
                    ./images/gallery4-T-3x.jpg 3x,
                    ./images/gallery4-M-1x.jpg 1x,
                    ./images/gallery4-M-2x.jpg 2x,
                    ./images/gallery4-M-3x.jpg 3x
                  "
                  alt="fruit Ice-Cream"
                />
              </div>
              <div class="container__third--down">
                <img
                  class="container__image5"
                  srcset="
                    ./images/gallery5-D-1x.jpg 1x,
                    ./images/gallery5-D-2x.jpg 2x,
                    ./images/gallery5-D-3x.jpg 3x,
                    ./images/gallery5-T-1x.jpg 1x,
                    ./images/gallery5-T-2x.jpg 2x,
                    ./images/gallery5-T-3x.jpg 3x,
                    ./images/gallery5-M-1x.jpg 1x,
                    ./images/gallery5-M-2x.jpg 2x,
                    ./images/gallery5-M-3x.jpg 3x
                  "
                  alt="girl with Ice-Cream"
                />
              </div>
            </div>

            <div class="container__fourth">
              <img
                class="container__image6"
                srcset="
                  ./images/gallery6-D-1x.jpg 1x,
                  ./images/gallery6-D-2x.jpg 2x,
                  ./images/gallery6-D-3x.jpg 3x,
                  ./images/gallery6-T-1x.jpg 1x,
                  ./images/gallery6-T-2x.jpg 2x,
                  ./images/gallery6-T-3x.jpg 3x,
                  ./images/gallery6-M-1x.jpg 1x,
                  ./images/gallery6-M-2x.jpg 2x,
                  ./images/gallery6-M-3x.jpg 3x
                "
                alt="Ice-Cream dessert"
              />

              <img
                class="container__image7"
                srcset="
                  ./images/gallery7-D-1x.jpg 1x,
                  ./images/gallery7-D-2x.jpg 2x,
                  ./images/gallery7-D-3x.jpg 3x,
                  ./images/gallery7-T-1x.jpg 1x,
                  ./images/gallery7-T-2x.jpg 2x,
                  ./images/gallery7-T-3x.jpg 3x,
                  ./images/gallery7-M-1x.jpg 1x,
                  ./images/gallery7-M-2x.jpg 2x,
                  ./images/gallery7-M-3x.jpg 3x
                "
                alt="Ice-Cream photo"
              />
            </div>

            <div class="container__fifth">
              <img
                class="container__image8"
                srcset="
                  ./images/gallery8-D-1x.jpg 1x,
                  ./images/gallery8-D-2x.jpg 2x,
                  ./images/gallery8-D-3x.jpg 3x,
                  ./images/gallery8-T-1x.jpg 1x,
                  ./images/gallery8-T-2x.jpg 2x,
                  ./images/gallery8-T-3x.jpg 3x,
                  ./images/gallery8-M-1x.jpg 1x,
                  ./images/gallery8-M-2x.jpg 2x,
                  ./images/gallery8-M-3x.jpg 3x
                "
                alt="dog and Ice-Cream"
              />

              <img
                class="container__image9"
                srcset="
                  ./images/gallery9-D-1x.jpg 1x,
                  ./images/gallery9-D-2x.jpg 2x,
                  ./images/gallery9-D-3x.jpg 3x,
                  ./images/gallery9-T-1x.jpg 1x,
                  ./images/gallery9-T-2x.jpg 2x,
                  ./images/gallery9-T-3x.jpg 3x,
                  ./images/gallery9-M-1x.jpg 1x,
                  ./images/gallery9-M-2x.jpg 2x,
                  ./images/gallery9-M-3x.jpg 3x
                "
                alt="frappuccino"
              />
            </div>

            <div class="container__sixth">
              <img
                class="container__image10"
                srcset="
                  ./images/gallery10-D-1x.jpg 1x,
                  ./images/gallery10-D-2x.jpg 2x,
                  ./images/gallery10-D-3x.jpg 3x,
                  ./images/gallery10-T-1x.jpg 1x,
                  ./images/gallery10-T-2x.jpg 2x,
                  ./images/gallery10-T-3x.jpg 3x,
                  ./images/gallery10-M-1x.jpg 1x,
                  ./images/gallery10-M-2x.jpg 2x,
                  ./images/gallery10-M-3x.jpg 3x
                "
                alt="Ice-Cream in a jar"
              />
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="./index.js"></script>
  </body>
</html>
