<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Ice</title>
    <link rel="stylesheet" href="../normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;700&family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.min.css">
</head>
<body>
    <header class="hero">
        <div class="container">
            <div class="menu">
                <span class="menu-burger menu-burger__active"></span>
                <span class="menu-burger"></span>
                <span class="menu-burger menu-burger__active"></span>
            </div>
            <div class="hero-wrapper">
                <a href="" class="hero-wrapper__logo">
                    <picture>
                            <source
                            media="screen and (min-width: 320px)"
                            srcset="../images/logo-D1-min.png 1x, ../images/logo-D2-min.png 2x, ../images/logo-D3-min.png 3x"
                            >
                            <img src="../images/logo-D1-min.png" alt="logo">
                    </picture>
                </a>
                <nav class="hero-wrapper__nav">
                    <button class="menu-close">&#x2715;</button>
                    <!-- <button class="hero-btn menu-btn">Buy now</button> -->
                    <ul class="list-style hero-wrapper__list">
                        <li ><a href="#" class="hero-wrapper__item">Home</a></li>
                        <li><a href="#" class="hero-wrapper__item">About us</a></li>
                        <li><a href="#" class="hero-wrapper__item">How it’s made?</a></li>
                        <li><a href="#" class="hero-wrapper__item">Our products</a></li>
                        <li><a href="#" class="hero-wrapper__item hero-wrapper__item-mb">Contact</a></li>
                    </ul>
                </nav>
                <button class="hero-btn">Buy now</button>
            </div>

            <div class="hero-content">
                <div class="hero-content__left">
                    <div class="hero-content__descr">
                        <h1 class="hero-content__title">
                            ice cream made with <span>passion</span>
                        </h1>
                        <div class="hero-content__btns">
                            <button class="hero-content__btn hero-content__btn-active">Products</button>
                            <button class="hero-content__btn">How it’s made?</button>
                        </div>
                    </div>
                    <div class="hero-content__footer">
                        <picture class="hero-content__footer-img">
                                <source
                                media="screen and (max-width: 1199px)"
                                srcset="../images/milk-T1-min.png 1x, ../images/milk-T2-min.png 2x, ../images/milk-T3-min.png 3x"
                                >
                                <source
                                media="screen and (min-width: 1200px)"
                                srcset="../images/milk-D1-min.png 1x, ../images/milk-D2-min.png 2x, ../images/milk-D3-min.png 3x"
                                >
                                <img src="../images/milk-D1-min.png" alt="glace with milk">
                        </picture>
                        <div class="hero-content__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            <span></span>
                        </div>
                    </div>
                </div>


                <div class="hero-content__center">
                        <div class="hero-content__center-circle">
                            <picture class="hero-content__center-img">
                                    <source
                                    media="screen and (max-width: 1199px)"
                                    srcset="../images/ice-M1-min.png 1x, ../images/ice-M2-min.png 2x, ../images/ice-M3-min.png 3x"
                                    >
                                    <source
                                    media="screen and (min-width: 1200px)"
                                    srcset="../images/iceCream-D1-min.png 1x, ../images/iceCream-D2-min.png 2x, ../images/iceCream-D3-min.png 3x"
                                    >
                                    <img src="../images/iceCream-D1-min.png" alt="glace with milk">
                            </picture>
                        </div>
                </div>
                <div class="hero-content__right">
                    <div class="hero-content__right-numbers">
                        <div class="hero-content__right-number">
                            16
                            <span>
                                caffes
                            </span>
                            <span class="hero-content__right-circle"></span>
                        </div>
                        <div class="hero-content__right-number">
                            23
                            <span>
                                food trucks
                            </span>
                            <span class="hero-content__right-circle"></span>
                        </div>
                        <div class="hero-content__right-img">
                            <picture class="hero-content__right-woman">
                                    <source
                                    media="screen and (max-width: 1199px)"
                                    srcset="../images/woman-T1-min.png 1x, ../images/woman-T2-min.png 2x, ../images/woman-T3-min.png 3x"
                                    > 
                                    <source
                                    media="screen and (min-width: 1200px)"
                                    srcset="../images/woman-D1-min.png 1x, ../images/woman-D2-min.png 2x, ../images/woman-D3-min.png 3x"
                                    >
                                    <img src="../images/woman-D1-min.png" alt="woman">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    

    <script src="../index.js"></script>
</body>
</html>