<section class="products">
  <div class="container">
    <p class="products__heading-label">100% natural</p>
    <h2 class="products__heading">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__name">ice cream</h3>
        <div class="mark"></div>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__icon">
          <svg width="10" height="10">
            <use xlink:href="./images/symbol.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__name">ice coffee</h3>
        <div class="mark"></div>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__icon">
          <svg width="10" height="10">
            <use xlink:href="./images/symbol.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__name">milkshakes</h3>
        <div class="mark"></div>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__icon">
          <svg width="10" height="10">
            <use xlink:href="./images/symbol.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
